.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding-bottom: 10px;
    padding-left: 20px;
}

.flex-link {
    margin: 20px 15px;
}

.header-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 20px 20px;
}

.header-button {
    background-color: white;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: auto 20px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {

    .flex-link {
        margin: 20px 5px;
    }

    .header-link {
        font-size: 18px;
        margin: 0px 10px;
    }

    .header-button {
        font-size: 16px;
        padding: 8px 20px;
    }
}

@media screen and (max-width: 480px) {

    .header-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo {
        width: 230px;
        height: 60px;
    }

    .flex-link {
        margin: 0px auto;
    }

    .header-link {
        font-size: 16px;
        margin: 0px 15px;
    }

    .header-button {
        font-size: 16px;
        padding: 8px 20px;
    }
}