.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding-bottom: 10px;
    padding-left: 20px;
}

.flex-link {
    margin: 20px 15px;
}

.header-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 20px 20px;
}

.header-button {
    background-color: white;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: auto 20px;
    border-radius: 5px;

}
