.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-bottom: 0px;
    padding-left: 20px;
}

.flex-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-content__item {
    margin: 0 20px;
    position: relative;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    height: 45px;
    width: 280px;
    min-width: 100px;
    padding: 5px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input::placeholder {
    color: #333;
    opacity: 1;
    font-size: 16px;
}

.search-button {
    position: absolute;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-left: none;
    height: 45px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    margin-left: -40px;
}

.accordion-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-text {
    margin-right: 10px;
}

.dropdown-arrow {
    font-size: 20px;
}

.flex-link {
    margin: 0px 10px;
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 10px;
}

.header-button {
    background-color: white;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: auto 20px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {

    .header-flex {
        flex-direction: column;
        justify-content: space-between;
    }

    .flex-content {
        justify-content: space-between;
    }

    .header-logo {
        padding-left: 10px;
        height: 60px;
        width: 240px;
    }

    .search-input {
        height: 40px;
        width: 240px;
    }

    .search-button {
        height: 40px;
        width: 40px;
        border-radius: 0 5px 5px 0;
    }

    .flex-link {
        margin: 5px 20px;
        max-width: 80%;
    }

    .header-link {
        font-size: 18px;
        margin: 0px 20px;
    }

    .header-button {
        font-size: 16px;
        padding: 6px 20px;
    }
}

@media screen and (max-width: 480px) {

    .header-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo {
        padding-left: 10px;
        width: 200px;
        height: 60px;
    }

    .search-input {
        height: 35px;
        width: 150px;
    }

    .search-input::placeholder {
        font-size: 14px;
    }

    .search-button {
        height: 35px;
        width: 35px;
        border-radius: 0 5px 5px 0;
    }

    .flex-link {
        margin: 0px auto;
    }

    .header-link {
        font-size: 16px;
        margin: 0px 15px;
    }
}