.flash-message__success {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 20px;
}

.container__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-form__heading {
    padding-top: 10px;
    font-size: 24px;
}

.address-form__group {
    padding-bottom: 10px;
}

.group {
    padding-bottom: 30px;
}

.address-form__postcode,
.address-form__address,
.address-form__building {
    padding-bottom: 5px;
}

.address-form__ttl {
    border-bottom: solid 1px gray;
}

.address-form__label {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.address-form__inputs {
    padding-bottom: 15px;
}

.custom-file-button {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: red;
    background-color: white;
    padding: 10px 15px;
    margin-top: 10px;
    margin-left: 10%;
    border: solid 2px #FF6347;
    border-radius: 7px;
}

.custom-file-button:hover {
    cursor: pointer;
    color: white;
    background-color: #FF6347;
}

.form-input {
    width: 500px;
    height: 40px;
}

.address-button {
    display: block;
    color: white;
    background-color: #FF6347;
    font-size: 18px;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .form-input {
            width: 450px;
        }

    .address-button {
        width: 450px;
    }
}

@media screen and (max-width: 480px) {

    .header{
        height: 70px;
    }

    .form-input {
        width: 350px;
        height: 40px;
    }

    .address-button {
        width: 350px;
    }
}