.flash-message__create {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 20px;
}

.flash-message__delete {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    font-size: 20px;
}

.flash-message__fail {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    font-size: 20px;
}

.grid-container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;

}

.grid-left {
    display: flex;
    flex-direction: column;
}

.img-box {
    background-color: gray;
    height: 400px;
    width: 350px;
    margin: 30px auto;
}

.grid-right {
    margin-left:30px;
}

.item__name {
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.item__brand {
    font-size: 16px;
}

.item__price {
    font-size: 22px;
    padding:10px 0;
    margin-top: 10px;
}

.favicon-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.favicon-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.favicon-group__star {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.favicon-group__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.favicon-count {
    margin-top: 10px;
}

.favicon-count__comment {
    margin-top: 10px;
}

.purchase__button {
    display: block;
    color: white;
    text-decoration: none;
    background-color: #FF6347;
    font-size: 18px;
    padding: 10px;
    width: 320px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.purchase-link {
    text-decoration: none;
}

.item-group__label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.description__content {
    height: 150px;
    width: 320px;
    overflow: auto;
    border: solid 1px gray;
    padding: 10px;
    white-space: pre-wrap;
}

.item-group {
    margin-top: 30px;
}

.item-table {
    margin-top:10px;
}

.item-table__header {
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-table__category {
    font-size: 14px;
    padding: 0px 20px;
    background-color: gray;
    border-radius: 30px;
}


.item-table__condition {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .img-box {
        height: 350px;
        width: 300px;
        margin: 10px auto;
    }

    .grid-right {
        margin-left: 20px;
    }

    .purchase__button {
        width: 300px;
    }

    .description__content {
        height: 150px;
        width: 300px;
    }

}

@media screen and (max-width: 480px) {

    .grid-container {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-left {
        margin-top: 20px;
    }

    .img-box {
        background-color: gray;
        height: 350px;
        width: 300px;
        margin: 10px auto;
    }

    .grid-right {
        margin-left: 0;
    }

    .item__name {
        font-size: 24px;
    }

    .item__price {
        font-size: 20px;
        padding: 10px 0;
    }

}