.flash-message__success {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 20px;
}

.mypage__heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.mypage__group {
    display: flex;
    align-items: center;
}

.mypage__img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 1px #d3d3d3;
}

.profile-img {
    padding-top: 45px;
    padding-left: 5px;
}

.profile-img {
    height: 120px;
    width: 120px;
    align-items: center;
}

.mypage__user {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}

.profile-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: red;
    padding: 15px 20px;
    margin-top: 10px;
    border: solid 2px red;
    border-radius: 7px;
}

.tab {
    width: 100%;
}

.tab-menu {
    display: flex;
}

.tab-menu__item {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 30px;
    cursor: pointer;
    list-style: none;
}

.tab-menu__item:not(:first-child) {
    border-left: none;
}

.tab-menu__item.active {
    color: red;
}

.tab-content {
    border-top: 1px solid #000;
    margin: auto 5px;
}

.tab-content__item {
    display: none;
    font-size: 40px;
}

.tab-content__item.show {
    display: block;
}

.items-index {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 20px;
}

.img-box {
    border-radius: 3px;
    border: solid 1px #d3d3d3;
    height: 150px;
    width: 150px;
    margin: 30px;
}

@media screen and (max-width: 768px) {

    .items-index {
        margin: 10px 30px;
        padding: 0 auto;
    }

    .img-box {
        height: 200px;
        width: 200px;
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {

    .profile-img {
        height: 80px;
        width: 80px;
    }

    .mypage__user {
        font-size: 20px;
        font-weight: bold;
    }

    .profile-link {
        font-size: 14px;
        padding: 10px 15px;
        margin-top: 5px;
    }

    .tab-menu__item {
        font-size: 16px;
        padding-left: 20px;
    }

    .tab-content__item {
        margin-top: 5px;
    }

    .items-index {
        margin:0 5px;
    }

    .img-box {
        height: 130px;
        width: 130px;
        margin: 2px;
    }
}