.flash-message__success {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 20px;
}

.grid-container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    flex-direction: column;
}

.grid-left {
    display: flex;
    flex-direction: column;
}

.item-information__group {
    display: flex;
    justify-content: flex-start;
    margin:10px 50px;
}

.item-img {
    padding: 10px 20px;
    margin-right: 50px;
}

.img-box {
    background-color: gray;
    height: 120px;
    width: 100px;
    margin: 0px auto;
}

.item-information {
    display: flex;
    flex-direction: column;
}

.item__name {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}

.item__price {
    font-size: 20px;
    padding: 10px 0;
}

.purchase__group {
    display: flex;
    justify-content: space-between;
    margin:20px 20px;
}

.payment-method,
.shipping-address {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 100px;
    padding-left: 20px;
}

.payment-method__link,
.shipping-address__link {
    font-size: 20px;
    text-decoration: none;
    color: blue;
    padding-right: 20px;
}


.grid-right {
    margin:0 auto;
}

.item-group {
    height: 300px;
    width: 380px;
    font-size: 18px;
    border: solid 1px black;
    margin: 0 20px;
}

.item-table__row--price {
    height: 60px;
}

.item-table__header--price {
    padding: 60px 30px;
    padding-right: 100px;
    position: relative;
}

.item-table__header{
    padding:20px 30px;
    padding-right: 100px;
}

.item-table__row--payment {
    height: 40px;
}

.purchase__button {
    display: block;
    color: white;
    text-decoration: none;
    background-color: #FF6347;
    font-size: 18px;
    margin-top: 50px;
    margin-right:20px;
    margin-left: 20px;
    padding: 10px;
    width: 380px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.purchase__button:hover {
    background-color: red;
}

@media screen and (max-width: 768px) {

    .grid-container {
        margin-top: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
    }

    .item-information__group {
        display: flex;
        justify-content: flex-start;
        margin: 10px 20px;
    }

    .payment-method,
    .shipping-address {
        padding-bottom: 50px;
        padding-left: 20px;
    }

    .grid-right {
        margin: 10px 20px;
    }

    .item-group {
        height: 300px;
        width: 320px;
        font-size: 18px;
        border: solid 1px black;
    }

    .item-table__header--price {
        padding: 60px 20px;
        padding-right: 60px;
        position: relative;
    }

    .item-table__header {
        padding: 20px 20px;
        padding-right: 60px;
    }

    .purchase__button {
        width: 320px;
    }

}

@media screen and (max-width: 480px) {

    .grid-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .payment-method,
    .shipping-address {
        padding-bottom: 10px;
        font-size: 18px;
    }

    .payment-method__link,
    .shipping-address__link {
        font-size: 18px;
    }

    .item-group {
        height: 200px;
        width: 380px;
        margin: 0 auto;
        font-size: 18px;
        border: solid 1px black;
    }

    .item-table__header--price {
        padding: 30px 20px;
        padding-right: 100px;
        position: relative;
    }

    .item-table__header {
        padding: 10px 20px;
        padding-right: 100px;
    }

    .purchase__button {
        margin: 20px auto;
        width: 380px;
    }
}