.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding-bottom: 10px;
    padding-left: 20px;
}

.flex-link {
    margin: 20px 15px;
}

.header-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 20px 20px;
}

.header-button {
    background-color: white;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: auto 15px;
    border-radius: 5px;
}

.grid-container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    flex-direction: column;
}

.grid-left {
    display: flex;
    flex-direction: column;
}

.item-information__group {
    display: flex;
    justify-content: flex-start;
    margin:10px 50px;
}

.item-img {
    padding: 10px 20px;
    margin-right: 50px;
}

.img-box {
    background-color: gray;
    height: 120px;
    width: 100px;
    margin: 0px auto;
}

.item-information {
    display: flex;
    flex-direction: column;
}

.item__name {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;

}

.item__price {
    font-size: 20px;
    padding: 10px 0;
}

.purchase__group {
    display: flex;
    justify-content: space-between;
    margin:20px 20px;
}

.payment-method,
.shipping-address {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 100px;
    padding-left: 20px;
}

.payment-method__link,
.shipping-address__link {
    font-size: 20px;
    text-decoration: none;
    color: blue;
    padding-right: 20px;
}


.grid-right {
    margin:0 auto;
}

.item-group {
    height: 300px;
    width: 350px;
    font-size: 18px;
    border: solid 1px black;
}

.item-table__row--price {
    height: 60px;
}

.item-table__header--price {
    padding: 60px 30px;
    padding-right: 100px;
    position: relative;
}

.item-table__header{
    padding:20px 30px;
    padding-right: 100px;
}

.item-table__row--payment {
    height: 40px;
}

.purchase__button {
    display: block;
    color: white;
    text-decoration: none;
    background-color: #FF6347;
    font-size: 18px;
    margin-top: 50px;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.purchase__button:hover {
    background-color: red;
}