.sell-form__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.sell-form__group {
    padding-bottom: 30px;
    width: 450px;
}

.sell-form__ttl {
    border-bottom: solid 1px gray;
}

.sell-form__label {
    font-size: 16px;
    font-weight: bold;
}

.sell-form__inputs {
    padding-bottom: 15px;
}

.sell-form__select {
    border: dotted 1px black;
    border-radius: 2px;
    width: 450px;
    height: 80px;
    text-align: center;
}

.selected-categories{
    padding-top: 5px;
}

.custom-file-button {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: red;
    background-color: white;
    padding: 8px 15px;
    margin: 15px 0;
    border: solid 2px #FF6347;
    border-radius: 7px;
}

.custom-file-button:hover {
    cursor: pointer;
    color: white;
    background-color: #FF6347;
}

.img-select {
    display: none;
    border: solid 1px black;
    width: 450px;
    height: 100px;
}

.form-input {
    width: 450px;
    height: 30px;
}

.form-input__category {
    width: 450px;
    height: 40px;
}

.form-input__textarea {
    width: 450px;
    height: 100px;
}

.form-input::placeholder {
    color: black;
    opacity: 1;
    padding-left: 3px;
}

.sell-button {
    display: block;
    color: white;
    background-color: #FF6347;
    font-size: 18px;
    padding: 10px;
    width: 450px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header {
        height: 70px;
    }

    .sell-form__inner {
        width: 450px;
        margin: 0 auto;
    }

    .sell-form__select,
    .sell-form__group,
    .img-select,
    .form-input,
    .form-input__category,
    .form-input__textarea,
    .sell-button {
        width: 450px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 70px;
    }

    .sell-form__inner {
        width:380px;
        margin: 0 auto;
    }

    .sell-form__select,
    .sell-form__group,
    .img-select,
    .form-input,
    .form-input__category,
    .form-input__textarea,
    .sell-button {
        width: 350px;
    }
}